// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$off-white: whitesmoke;
$light-gray: #A4A4A4;
$background-blue: #0A3844;
$lighter-banner-blue: #0F4C5C;

$dark_blue: #0A3844;
$light_blue: #0F4C5C;
$lighter_blue: #73b0c0;
$light-green: rgba(232, 219, 125, 0.81);
$lightest-green: #F0E7A7;
$dark-green: #D0BC25;
$dark_grey: #494949;
$lighter_grey: #F4F4F4;
