// Specific CSS for your home-page
.heading {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.text-size-200 {
  font-size: 200px;
}

.text-size-40 {
  font-size: 40px;
}

.text-size-36 {
  font-size: 36px;
}

.text-size-32 {
  font-size: 32px;
}

.text-size-24 {
  font-size: 24px;
}

.text-size-18 {
  font-size: 18px;
}

.section {
  background-color: $light_blue;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: lighter;
}

.top-panel {
  height: calc(100vh - 78.4px);
}

.neg {
  margin-top: -65px;
}
