<div class="d-flex justify-content-center my-3 col-9">
  <%= link_to chillis_path(query: "mild") do %>
    <div class="chilli-none-heat chilli-center" data-heat-target="mild" data-action="mouseover->heat#mouseOverMild mouseout->heat#mouseOutMild"></div>
  <% end %>
  <%= link_to chillis_path(query: "medium") do %>
    <div class="chilli-none-heat chilli-center" data-heat-target="medium" data-action="mouseover->heat#mouseOverMedium mouseout->heat#mouseOutMedium"></div>
  <% end %>
  <%= link_to chillis_path(query: "hot") do %>
    <div class="chilli-none-heat chilli-center" data-heat-target="hot" data-action="mouseover->heat#mouseOverHot mouseout->heat#mouseOutHot"></div>
  <% end %>
  <%= link_to chillis_path(query: "extreme") do %>
    <div class="chilli-none-heat chilli-center" data-heat-target="extreme" data-action="mouseover->heat#mouseOverExtreme mouseout->heat#mouseOutExtreme"></div>
  <% end %>
</div>
