<div class="d-flex justify-content-center my-3">
  <div class="chilli-none-heat chilli-center" data-heat-target="mild" data-action="mouseover->heat#mouseOverMild mouseout->heat#mouseOutMild"></div>
  <div class="chilli-none-heat chilli-center" data-heat-target="medium" data-action="mouseover->heat#mouseOverMedium mouseout->heat#mouseOutMedium"></div>
  <div class="chilli-none-heat chilli-center" data-heat-target="hot" data-action="mouseover->heat#mouseOverHot mouseout->heat#mouseOutHot"></div>
  <div class="chilli-none-heat chilli-center" data-heat-target="extreme" data-action="mouseover->heat#mouseOverExtreme mouseout->heat#mouseOutExtreme"></div>
</div>
