<div class="d-flex justify-content-center my-3">
  <div class="chilli-center" style="background-image: url('<%= asset_url('homepage/chilli.png') %>');"></div>
  <div class="chilli-center" style="background-image: url('<%= asset_url('homepage/chilli.png') %>');"></div>
  <div class="chilli-center" style="background-image: url('<%= asset_url('homepage/chilli.png') %>');"></div>
  <div class="chilli-center" style="background-image: url('<%= asset_url('homepage/chilli.png') %>');"></div>
</div>
