<div class="col-12 section-card m-3 p-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url("homepage/#{image}") %>');">
    <span class="chilli-type py-2 heading h-size-32"><%= title %></span>
</div>
