<%= link_to chillis_path(query: search.downcase), :class => 'card-default' do %>
  <div class="col-12 homepage-card species-card m-3 p-0" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_url("#{image_path}") %>');">
      <span class="homepage-text py-2 heading text-size-32"><i>Capsicum <%= title %></i></span>
  </div>
<% end %>
