.btn-cart {
  height: 40px;
  color: white;
  background-color: #FB8B24;
  width: 150px;
  border-radius: 10px;

  &:hover {
    background-color: #e47c1c;
    color: white;
    cursor: pointer;
  }
}

.cart-secondary {
  border-radius: 10px;
}
