body {
  // background: linear-gradient(90deg, #0A3844, rgba(21, 118, 142, 0.8));
  background: linear-gradient(90deg, #0A3844, #0A3844, #502F4C);
  // background-color: $dark-blue;

  h1 {
    color: $off-white;
  }

  h2 {
    color: $off-white;
  }

  h3 {
    color: $off-white;
  }

  p {
    color: $off-white;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
}
