.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  // background: #2f26267d;
  // background:#2C2C2C;
  // background:#0b3844;
  // background: #232327;
  // background: #232327;
  background: $dark-blue;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  // background: linear-gradient(135deg,,);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  h2 {
    color: $light_blue;
    padding-top: 6px;
  }
}

.icon-small {
  height: 60px;
}

.icon-big {
  height: 120px;
}

.text-icon-small {
  // color: $light_blue;
  color: #12667c !important;
  font-size: 32px;
  padding-top: 6px;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.spacer {
  height: 66px;
}

.gradient-text {
  font-weight:600;
  background-color: red;
  background-image: linear-gradient(0deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.logo-text {
  font-family: $logo-font;
}

.badge {
  padding: 0 12px;
  border-radius: 50%;
}

.basket-count {
  text-decoration: none;
  font-size: 18px;
  background: firebrick;
  color: $off-white;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -25px;
  margin-top: 2px;
}

.cart-avatar {
  margin-right: 20px;
  width: 100px;
}

.nav-link {
  color: $off-white !important;
}
