.styling-for-links {
  color: $lighter_grey;

  &:hover{
    color: $light-gray;
    cursor:pointer;
  }
}

.styling-for-links.active {
  color: #393c3f;
  font-weight: bolder;
}

.styling-for-links-log-in {
  color: #7e8083;

  &:hover{
    color: #393c3f;
    cursor:pointer;
  }
}

.styling-for-links-dark {
  color: #585c61;

  &:hover{
    color: #393c3f;
    cursor:pointer;
  }
}

.styling-for-links-dark.active {
  color: $lighter_grey;
  font-weight: bolder;
}
