<div class="d-flex">
  <%= image_tag "heat-icons/chilli-mild.png", class: "icon-small"  %>
  <%= image_tag "heat-icons/chilli-medium.png", class: "icon-small" %>
  <%= image_tag "heat-icons/chilli-hot.png", class: "icon-small" %>
  <%= image_tag "heat-icons/chilli-extreme.png", class: "icon-small" %>
</div>
