<div style="min-height: 80vh; margin-bottom:80px;">
  <div class="my-5 py-3">
    <div class="ms-4">
      <%= link_to "< Back to profile", user_path(current_user), class: 'styling-for-links ps-4' %>
    </div>
    <div class="row">
      <div class="d-md-flex flex-row-reverse justify-content-center align-items-center text-center my-0 mx-auto">
        <div class="px-5 py-3 col-md-4 col-sm-12 orange-section d-flex flex-column justify-content-center align-item-center">
          <h1 class="h1-form">Sell your chillies!</h1>
          <span class="h2-form text-break">Got some chillies to sell? List them easily with our sign up form.</span>
        </div>
        <div class="white-section py-3 col-md-4 col-sm-12">
          <div class="px-5 py-5">
            <%= render 'form', chilli: @chilli %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
