<div class="background">
  <div class="container contianer-show">
    <div class="row">
      <div class="col-12">
        <div>
          <p><%= link_to "< Continue Shopping", root_path, class: "styling-for-links" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
