<div class="main-div">
  <div class="blue-section my-5 py-3">
    <%= link_to "< Continue Shopping", chillis_path, class: 'styling-for-links ps-3' %>
  </div>
  <div class="row top-element">
    <div class="d-md-flex justify-content-center align-items-center text-center my-3 mx-auto">
      <div class="px-5 py-3 col-md-4 col-sm-12 orange-section" style="border-radius: 20px 0px 0px 20px;">
        <h1 class="h1-form">Review your chilli</h1>
        <span class="h2-form text-break">Help us improve the chilli market with your feedback.</span>
      </div>
      <div class="white-section py-3 col-md-4 col-sm-12" style="border-radius: 0px 20px 20px 0px;">
        <div class="px-5 py-5">
          <%= render 'new_review_form', chilli: @chilli, review: @review %>
        </div>
      </div>
    </div>
  </div>
</div>
